body{
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #F0EDCC;
    background-color: #b8b3ac;
    width: 1200px;
}
header{
    background:#02343F;
    padding: 90px 250px;
    line-height: 15px;
    border-radius: 0 0 20px 20px;
}
span{
    color: #fffef4;
}
#paragraph{
    margin: 15px 0;
    line-height: 30px;
}
.left-paragraph{
    background:#02343F;
    width: 510px;
    padding: 30px 40px;
    border-radius: 20px 0 0 20px;
    float: left;
}
.left-paragraph p a{
    text-decoration-style: wavy;
    color: inherit;    
}
.left-paragraph p a:hover {
    letter-spacing: 0.5px;
    font-size: 1.1em;
    transition: 0.2s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
}
.right-paragraph{
    background:#02343F;
    width: 510px;
    padding: 30px 40px;
    border-radius: 0 20px 20px 0;
    float: right;
}
.clear{
    clear: right;
}
#bottom-container{
    border-radius: 20px 20px 0 0;
    margin: 15px 0;
    background: linear-gradient(180deg, #02343F, #b8b3ac);
}
#bottom-container h2{
    border-bottom: 3px solid #b8b3ac;
    line-height: 1.5em;
}
.product{
    float: left;
    padding: 30px 0 30px 300px;  
}
.company{
    float: right;
    padding: 30px 300px 30px 0;
}
.company h2{
    margin-right: 60px;
}
.product h2{
    margin-right: 30px;
}
.product ul li, .company ol li{
    list-style-type: none;
    line-height: 40px;
}
.product ul li a, .company ol li a{
    text-decoration: none;
    color: #02343fd8;
}
.product ul li a:hover, .company ol li a:hover{
    font-size: 1.2em;
    font-weight: bold;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
}
footer{
    color: #02343F;
    margin: 10px 0;
    padding: 10px;
    background: linear-gradient(180deg, #919794, #b8b3ac);;
    text-align: center;
    line-height: 10px;
}
.w3{
    position: fixed;
    bottom: 0px;
    left: 15px;
    padding: 10px;
}